/* New UI Box Overlay: */
box.newui_box_class {
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-width: 2px;
	border-radius: 6px;
	opacity: 0.9;
}

label.newui_label_class {
	color: white;
    background-color: transparent;
}

/* Message Box Overlay: */
box.message_box_class {
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 2px;
	border-radius: 0px 0px 20px 20px;
	opacity: 0.9;
}

label.message_label_class {
	color: white;
    background-color: transparent;
}

/* Waiting Box Overlay: */
box.waiting_box_class {
    background-color: #750606;
	border-radius: 20px 0px 0px 20px;
	opacity: 0.9;
}

label.waiting_label_class {
	color: white;
    background-color: transparent;
}


/* OpenAlphaDialog: */
box.intro_working_class {
    background-color: black;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
	border-radius: 20px;
	opacity: 0.9;
}

label.working_text_class {
	color: white;
}
